/* Сброс стандартных отступов браузера */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: 'Nunito', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}